#body_post1{
    position: relative;top:110px;left:26%;
}
#body_post2{
    position: relative;top:150px;left:26%;
}
#body_post3{
    position: relative;top:190px;left:26%;
}
#post_loadmore{
    position: relative;top:330px;
    font-size:10px;
}
.post{
    height:267px; width:630px;
    background: url("../images/post.png");
}
.post_date{
    position: absolute;top:23px;left: 22px;
    font-size: 11px;
}
.post_day{
    position: absolute;top:34px;left:48px;
    font-size:16px;
}
.post_title{
    position: absolute;top:27px;left:100px;
    font-size:19px;
}
.post_BY{
    position: absolute;top:61px;left:101px;
    font-size:12px;
}
.post_context{
    text-indent: 2em;
    display: block;
    width: 457px;height:73px;
    position: absolute;top:96px;left:100px;
    font-size:13px;
    overflow: hidden;
}
.post_more{
    position: absolute;right: 80px;top:176px;
    font-size: 9px;
}
.post_hr{
    width:455px;
    position: absolute;left:100px;top:180px;
}

.post_labelname{
    font-size:9px;
}
.post_label{
    position: absolute;left:97px;top:220px;
}
.post_labelright{
    position: relative;left:187px;
    font-size: 9px;
}
