#myRecord{
    width:60%;
    height: 285px;
    position: relative;left: 20%;
    top:80px;
}
#otherRecord {
    width: 60%;
    height: 350px;
    background-color: #f5f5f5;
    position: relative;
    left: 20%;top:100px;
}
.otherRecord_table{
    position: absolute;
    top:20px;

}
.record_title{
    border-top:0;
    border-left: 0;
    border-right:0;
    border-bottom:1px;
    border-bottom-color:#e6e6e6;
    border-bottom-style: solid;
    color: #323232;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.record_img{
    width:60%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.record_img1{
    width:65%
}
.record_name{
    color:#323232;
    font-size:15px;
    padding-top:8px;
}
.record_context{
    color:#646464;
    font-size:12px;
    padding-bottom:8px;
}
.record_time{
    color:#e5e5e5;
    font-size:12px;
    padding-bottom:2%;
}